<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="container">

  {% include header.html %}

  {% if site.default_column == "two" %}  

  <div class="page-content col-sm-8">
    {{ content }}
    {% include post_pagination.html %}
  </div>
  {% include sidebar.html %}

  {% else %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
    <!--List all posts-->
    <ul>
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% include post_pagination.html %}

  {% endif %}

  {% include footer.html %}

</div>

</body>

</html>
